body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 5vh 10vw;
  background-color: hsl(270, 50%, 5%);
  font-family: Arial, sans-serif;
  color: hsl(270, 50%, 75%);
  font-size: 1.125rem;
  line-height: 1.5;
}

body.homepage {
  justify-content: center;
  padding: 0 10vw;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
}

section.description {
  max-width: 1280px;
}

a,
h1 {
  color: hsl(270, 50%, 90%);
}

h1 {
  margin: 0 0 2em 0;
  font-size: 1.8rem;
  font-weight: normal;
}

h2,
h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.flicktionary__logo {
  width: min-content;
  margin: 0 0 3rem 0;
  font-size: 0.2rem;
  color: hsl(270, 50%, 70%);
}

body.homepage .flicktionary__logo {
  font-size: clamp(0.1rem, 2.5vw, 0.4rem);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 4rem 0;
  color: #fff;
  text-align: left;
}

thead {
  font-size: 1rem;
}

th {
  padding: 0 1em 1.5em 1em;
  font-weight: normal;
  color: hsl(270, 50%, 70%);
}

td {
  padding: 1.5em 1em 0.5em 1em;
  border-top: 1px solid hsl(270, 50%, 30%);
}

td,
th {
  vertical-align: top;
}

table td p {
  margin: 0 0 1em 0;
}
table td pre {
  margin: 1em 0 0 0;
  font-size: 0.875rem;
}

table td pre:only-child {
  margin: 0;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
  }

  td {
    padding: 1.5em 1em;
    border: none;
    border-top: 1px dashed hsl(270, 50%, 30%);
  }

  td:first-child {
    padding-top: 3em;
    border-top: 1px dashed hsl(270, 50%, 80%);
  }

  td:before {
    display: block;
    content: attr(data-label);
    margin-bottom: 0.5em;
    color: hsl(270, 50%, 70%);
    white-space: nowrap;
  }
  table td pre {
    white-space: break-spaces;
  }
}

/* Table end */

footer {
  color: hsl(270, 50%, 60%);
}
